<h3>{{headingTitle}}</h3>

<div class="row">

    <div class="col-sm-12">
        <form name="form" ng-submit="submit(form.$valid)" novalidate>
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <div class="form-group">
                <input placeholder="Team name" type="text" name="name" class="form-control" ng-model="entity.name"
                       required ng-required="true" ng-minlength="3" ng-maxlength="50">
            </div>

            <div class="form-group">
                <label>Choose your creatures</label>

                <div class="form-group">
                    <select ng-model="selectedCreature" ng-options="creature.name for creature in creatureList"
                            ng-change="creatureChange()">
                        <option value="">Select Creature</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Choose the moves for this creature</label>
                <div class="form-group">
                    <select multiple ng-model="selectedMoveList">
                        <option ng-repeat="move in moveList"
                                value="{{move}}">
                            {{move.name}}
                        </option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-success" ng-click="checkNewCreatureAdded()">Add Creature</button>

            <div class="form-group">
                <label>Your added creatures</label>

                <div class="form-group">
                    <select multiple>
                        <option ng-repeat="c in selectedCreatureList">{{c.name}}</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-success">{{!isEditing ? 'Create' : 'Update'}}</button>
            <button type="button" class="btn btn-warning" ng-click="clear()">{{!isEditing ? 'Clear' : 'Cancel'}}
            </button>
        </form>
    </div>

    <div class="col-sm-12" style="margin-top: 20px">

        <table class="table table-hover" ng-if="entityList.length > 0">
            <thead>
            <tr>
                <th class="col-md-9">Team</th>
                <th class="col-md-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in entityList">
                <td class="col-md-9">{{item.name}}</td>

                <td class="col-md-3">
                    <!--<a href="#/team/{{item.id}}" class="btn btn-warning">Teams</a>-->
                    <button class="btn btn-info" ng-click="edit(item, true)">Edit</button>
                    <button class="btn btn-danger" ng-click="delete(item.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <span ng-if="entityList.length == 0">{{emptyMessage}}</span>

    </div>

</div>