<h3>{{headingTitle}}</h3>

<form name="form" ng-submit="submit(form.$valid)" novalidate>

    <!-- Team name -->
    <div class="row">
        <div class="col-sm-12">

            <div class="form-group">
                <input placeholder="Team name" type="text" name="name" class="form-control" ng-model="entity.name"
                       required ng-required="true" ng-minlength="3" ng-maxlength="50">
            </div>

        </div>
    </div>

    <!-- Team creatures -->
    <div class="row">

        <!-- Select to choose creatures -->
        <div class="col-sm-6">

            <div class="form-group">
                <label>Click on creature to select it*</label>

                <select class="form-control"
                        size="7"
                        ng-options="creature as creature.name for creature in toSelectCreatureList track by creature.id"
                        ng-model="selectedCreature"
                        ng-click="selectCreature()">
                </select>
            </div>

        </div>

        <!-- Select for choosed creatures -->
        <div class="col-sm-6">
            <div class="form-group">
                <label>Click on creature to unselect it</label>

                <select class="form-control"
                        size="7"
                        ng-options="creature as creature.name for creature in selectedCreatureList track by creature.id"
                        ng-model="selectedCreature"
                        ng-click="unselectCreature()">
                </select>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">

            <button type="submit" class="btn btn-success">
                {{!isEditing ? 'Create' : 'Update'}}
            </button>
            <button type="button" class="btn btn-warning" ng-click="clear()">
                {{!isEditing ? 'Clear' : 'Cancel'}}
            </button>

        </div>
    </div>

</form>


<div class="row">
    <div class="col-sm-12" style="margin-top: 20px">

        <table class="table table-hover" ng-if="entityList.length > 0">
            <thead>
            <tr>
                <th class="col-md-9">Team</th>
                <th class="col-md-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in entityList">
                <td class="col-md-9">{{item.name}}</td>

                <td class="col-md-3">
                    <a href="#/creatures/{{item.id}}" class="btn btn-warning">Details</a>
                    <button class="btn btn-info" ng-click="edit(item, true)">Edit</button>
                    <button class="btn btn-danger" ng-click="delete(item.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <span ng-if="entityList.length == 0">{{emptyMessage}}</span>

    </div>
</div>


