<h3>{{headingTitle}}</h3>

<div class="row">

    <div class="col-sm-12">
        <form name="form" ng-submit="submit(form.$valid)" novalidate>
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <div class="form-group">
                <input placeholder="Team name" type="text" name="name" class="form-control" ng-model="entity.name"
                       required ng-required="true" ng-minlength="3" ng-maxlength="50">
            </div>

            <div class="form-group">
                <div ng-class="{'has-error' : form.multipleSelect.$invalid && form.multipleSelect.$dirty,
                    'has-success' : !form.multipleSelect.$invalid && form.multipleSelect.$dirty}">

                    <label>Choose your creatures</label>
                    <multiple-autocomplete ng-model="selectedCreatureList"
                                           object-property="name"
                                           suggestions-arr="creatureList"
                                           name="multipleSelect"
                                           required="true">
                    </multiple-autocomplete>
                    <span ng-show="form.multipleSelect.$invalid && form.multipleSelect.$dirty" class="ng-hide">
                        <p class="error-msg" ng-show="form.creatureList.$error.required">
                            Please select something from multiple select field
                        </p>
                    </span>
                </div>

            </div>

            <button type="submit" class="btn btn-success">{{!isEditing ? 'Create' : 'Update'}}</button>
            <button type="button" class="btn btn-warning" ng-click="clear()">{{!isEditing ? 'Clear' : 'Cancel'}}
            </button>
        </form>
    </div>

    <div class="col-sm-12" style="margin-top: 20px">

        <table class="table table-hover" ng-if="entityList.length > 0">
            <thead>
            <tr>
                <th class="col-md-9">Team</th>
                <th class="col-md-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in entityList">
                <td class="col-md-9">{{item.name}}</td>

                <td class="col-md-3">
                    <!--<a href="#/team/{{item.id}}" class="btn btn-warning">Teams</a>-->
                    <button class="btn btn-info" ng-click="edit(item, true)">Edit</button>
                    <button class="btn btn-danger" ng-click="delete(item.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <span ng-if="entityList.length == 0">{{emptyMessage}}</span>

    </div>

</div>